* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  font-family: sans-serif;
  background-color: black;
  font-size: 40px;
  margin: 100px;

  width: 1000px;
  height: 600px;
  display: grid;
  grid-template-areas:
    /* "a a b c"
    "d e b c" */
    "d e b c"
    "a a b c";
  /* column-gap: 30px;
  row-gap: 60px; */
  padding: 3em;
}

.el--1 {
  background-color: hsl(0, 65%, 45%);
  grid-area: a;
}
.el--2 {
  background-color: hsl(115, 80%, 46%);
  grid-area: b;
}
.el--3 {
  background-color: hsl(268, 83%, 44%);
  grid-area: c;
}
.el--4 {
  background-color: hsl(73, 78%, 46%);
  grid-area: d;
}
.el--5 {
  background-color: hsl(192, 85%, 43%);
  grid-area: e;
}
